{% extends "base.html"%}

{% block estilo %}{% endblock %}

{% load staticfiles %}

{% block tittle %}Compra{% endblock %}
{% block content %}
    <div class="container-fluid">

        &nbsp
	<div class="row">
		<div class="col-md-2">
        </div>


        {% if rut and fecha is None %}

            <div class="col-md-4">
            <h3>rut y fecha none</h3>
            <form action="{% url 'abastecimiento:nueva' %}" method="post">{% csrf_token %}
                <div class="container">
                    <div class="form-row">

                        <label for="rut" class="col-md-3 col-form-label-sm align-content-end">Rut Proveedor</label>
                        <div class="col-7">
                            <input type="text" class="form-control form-control-sm" id="rut" name="rut" placeholder="{{ rut }}" value="{{ rut }}" readonly>
                        </div>

                        <label for="nombre" class="col-md-3 col-form-label-sm">Nombre Provee.</label>
                        <div class="col-7">
                            <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder={{ nombre }} readonly>
                        </div>

                        <label for="usuario" class="col-md-3 col-form-label-sm ">Usuario</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control form-control-sm" id="usuario" name="usuario" placeholder={{ usuario }} readonly>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="container">
                    <div class="form-row">
                        <label for="dcto" class="col-md-5 col-form-label-sm text-right">Dcto.Compra</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control form-control-sm" id="dcto" name="dcto" required>
                        </div>

                        <label for="fecha" class="col-md-5 col-form-label-sm text-right">Fecha</label>
                        <div class="col-md-7">
                            <input type="date" class="form-control form-control-sm" id="fecha" name="fecha" required>
                        </div>
                        <div class="col offset-md-8">
                                <button type="submit" class="btn btn-primary">Registra Compra</button>
                        </div>


                    </div>
                </div>
            </form>
            </div>




        {% elif rut and fecha %}
        
            <div class="col-md-4">
            <h3>rut y fecha</h3>
                <form class="text-black-50" action="{% url 'abastecimiento:agrega_detalle' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="id_compra" value="{{ id }}" readonly>
                            <div class="container">
                                <div class="form-row">

                                    <label for="rut" class="col-md-3 col-form-label-sm align-content-end">Rut Proveedor</label>
                                    <div class="col-7">
                                        <input type="text" class="form-control form-control-sm" id="rut" name="rut" value = {{ rut }} placeholder="{{ rut }}" readonly>
                                    </div>


                                    <label for="nombre" class="col-md-3 col-form-label-sm">Nombre Provee.</label>
                                    <div class="col-7">
                                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" value = {{ nombre }} placeholder={{ nombre }} readonly>
                                    </div>

                                    <label for="usuario" class="col-md-3 col-form-label-sm ">Usuario</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" id="usuario" name="usuario" value = {{ usuario }} placeholder={{ usuario }} readonly>
                                    </div>

                                </div>
                            </div>


            </div>

            <div class="col-md-4">
                <div class="container">
                            <div class="form-row">
                                <label for="dcto" class="col-md-3 col-form-label-sm ">Dcto.Compra</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-sm" id="dcto" placeholder="{{ dcto }}" value= {{ dcto}} name="dcto"  readonly>
                                </div>

                                <label for="fecha" class="col-md-3 col-form-label-sm ">Fecha</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-sm" id="fecha" placeholder="{{ fecha }}" value = {{ fecha }} name="fecha"  readonly>
                                </div>
                            </div>
                </div>
            </div>


                    <div class="container-fluid">
                    &nbsp
                        <div class="form-row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 text text-left text-black">
                                Código
                                <input id="codigo" name="codigo" type="number" placeholder="Ingrese Codigo" class="form-control input-lg" required="" autofocus >
                            </div>
                            <div class="col-md-1">
                                Cantidad
                                <input id="cantidad" name="cantidad" value="1" type="number" placeholder="1" class="form-control input-lg" autofocus >
                            </div>
                            <div class="col-md-1">
                                Precio Unit
                                    <input id="precio" name="precio" value="" type="number" class="form-control input-lg" autofocus >
                            </div>
                            <div class="col-md-1">
                                Lote
                                    <input id="lote" name="lote" value="" type="text" class="form-control input-lg" autofocus >
                            </div>
                            <div class="col-md-2">
                                F.Vencimiento
                                    <input id="fecha_vencimiento" name="fecha_vencimiento" value="" type="date" class="form-control input-lg" autofocus >
                            </div>
                            <div class="col-md-1 text-light">
                                aceptar
                                    <button type="submit" class="btn btn-primary align-bottom"><span class="fa fa-barcode"></span> Aceptar</button>
                            </div>
                            <div class="col-md-3 text text-black-50 h-auto">
                                <div class="text text-light">Total</div>
                                {% if suma %}
                                    <h2><strong>Total:</strong>{{suma}}</h2>
                                {% else %}
                                    <h2><strong>Total:</strong> 0</h2>
                                {% endif %}

                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
            &nbsp
                <table class="table text text-center">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Lote</th>
                      <th scope="col">Fecha Vencimiento</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio Unitario</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <th scope="row">{{detalle.id}}</th>
                            <td>{{detalle.producto}}</td>
                            <td>{{detalle.lote}}</td>
                            <td>{{detalle.fecha_vencimiento}}</td>
                            <td>{{detalle.cantidad}}</td>
                            <td>{{detalle.precio_unitario}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            </form>
            <div class="col-md-1"></div>



        {% else %}
        si no 
            <div class="col-md-4">
            <div class="container">
                    <form action="{% url 'abastecimiento:verifica' %}" method="POST">{% csrf_token %}
                    <div class="form-row">
                        <label for="rut" class="col-md-3 col-form-label-sm text-right">Rut</label>
                        <div class="col-7">
                            <input type="text" class="form-control form-control-sm" id="rut" name="rut" required>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-sm">Verifica</button>
                        </div>
                        <label for="nombre" class="col-md-3 col-form-label-sm text-right">Nombre</label>
                        <div class="col-7">
                            <input type="text" class="form-control form-control-sm" id="nombre" name="nombre">
                        </div>

                    </div>
                    </form>

            </div>
        </div>
            <div class="col-md-4">
            <div class="container">
                <div class="form-row">
                    <label for="fecha" class="col-md-5 col-form-label-sm text-right">Fecha</label>
                    <div class="col-md-7">
                        <input type="date" class="form-control form-control-sm" id="fecha" name="fecha" placeholder="" readonly>
                    </div>
                    <label for="dcto" class="col-md-5 col-form-label-sm text-right">Dcto.Compra</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control form-control-sm" id="dcto" name="dcto" readonly>
                    </div>

                </div>
            </div>

        {% endif %}


        <div class="col-md-2">
		</div>


    </div>
    </div>
    </div>


{% endblock %}