{% extends "base.html" %}

{% load static %}

{% block tittle %} Cierre Caja {% endblock %}

{% block content %}

  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
              <div class="card">
                <div class="card-body text text-center">
                    <strong>Cierre N°: {{caja_id}}</strong></p>
                    <th scope="col"><strong>Fecha: </strong>{{ fecha }}</th> {{hora}}
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Usuario</strong>: {{ usuario }}
                        </div>
                        <div class="col-md-6">
                            <strong>Hora Apertura:</strong>{{ hora_apertura }}</p>
                            <strong>Hora Cierre:</strong>{{ hora_cierre }}
                        </div>
                    </div>
                </div>
              </div>
                            <div class="card">
                            <div class="card-header text text-center">
                                <strong>Cuadre de Caja</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Saldo  Inicial: </strong><p></p>
                                        <strong>Venta Efectivo: </strong><p></p>
                                        <strong>Venta Tarjeta: </strong><p></p>
                                        <strong>Total:</strong>
                                    </div>

                                    <div class="col-md-6 text-center">
                                        {{ monto_inicial }}<p></p>
                                        {{ total_efectivo2.totality }}<p></p>
                                        {{ total_tarjeta.totality2 }}<p></p>
                                        {{ total }}
                                    </div>

                                </div>
                            </div>
                            </div>
                            <div class="card">
                            <div class="card-header text text-center">
                                <strong><a href="{% url 'ventas:vista_boleta_vivo' %}">Ventas</a></strong>
                            </div>
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-6 text-left">
                                                <strong>Efectivo:</strong><p></p>
                                                <strong>Tarjeta:</strong>

                                            </div>
                                            <div class="col-md-6 text-left">
                                                {{ cant_ve }}<p></p>
                                                {{ cant_vt }}
                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                  
                  </div>

                  

                </div>
              </div>
              
                      
                      
                
              
							</div>
              
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
  </div>




{% endblock %}

{% block footer %}
{% endblock %}
