{% extends "base.html"%}

{% block content %}

<div class="row no-gutters">

    <div class="col-6 col-md-6 center-block text-center" style="background-color: #eee;">Producto</div>
    <div class="col-6 center-block text-center" style="background-color: #eee;">Lista</div>
 
</div>

<div id="espacio">&nbsp</div>
<div class="row no-gutters">
  <div class="col-6 center-block text-center align-self-center" style="background-color: #fff;"> 
      <form class="form-row align-items-center" action="/ventas/nueva/add" method="POST">{% csrf_token %}

        <div class="col-2 offset-md-4">
          <label class="sr-only" for="textinput">Codigo</label>

          <input id="textinput" name="textinput" type="text" placeholder="Ingrese Codigo" class="form-control input-lg" required=""> 
        </div>

        
        <div class="col-auto align-self-end">
          <button type="submit" class="btn btn-primary mb-2">Aceptar</button>
        </div>
    </form> 
  </div>










  <div class="col-6" style="background-color: rgba(236,246,250,.1)">

      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><center>Nombre</center></th>
      <th scope="col"><center>Cantidad</center></th>
      <th scope="col"><center>Precio</center></th>
    </tr>
  </thead>
  <tbody>
      {% for VentaList in object_list %}
        <tr>
      
          <td><center>{{VentaList.id_producto}}</center></td>
          <td><center>{{VentaList.cantidad}}</center></td>
          <td><center>{{VentaList.precio_venta}}</center></td>
          <td></td>
          
      
        </tr>
        
        
      {% endfor %}
        
  </tbody>
  
</table>

  </div>
  <br>
  
  <div id="espacio">&nbsp</div>
  <div class="col-md-6 offset-md-6" style="text-align: right; background-color: #eee">
    Total = <tr>{{suma}}</tr>
  </div>
</div>


<!- estos es un comentarios ->
<div class="col-6 offset-5">
  <form class="form-row align-items-center" action="pagar" method="POST">
    {% csrf_token %}
    <input type="hidden" value={{suma}} name="suma" />
    <div style="height:10px; width:100%"></div>
    <button type="submit" class="btn btn-primary mb-2">Siguiente</button> 
  </form>
</div>
{% endblock %}