{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{%  static 'css/estilo.css '%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css '%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenVendor POS</title>
</head>
<body>

<div class="container-fluid">
	<div class="row">
        <div class="col-md-1">
		</div>
		<div class="col-md-2 align-content-center">
            <div onclick="javascript:window.location.href='{% url 'abastecimiento:index'%}' ">
                <div class="navbar-brand align-content-center" href="/"><img src="{% static 'img/python.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">OpenVendor</div>
            </div>

		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">

		</div>
		<div class="col-md-2 ">
		</div>
		<div class="col-md-3 border border-0">

            <form class="form-row align-items-center text text-center text-black-50" action="/ventas/nueva/add" method="POST">
                {% csrf_token %}
                Codigo

                <input id="textinput" name="textinput" type="number" placeholder="Ingrese Codigo" class="form-control input-lg"
                       required="" autofocus >
		</div>

        <div class="col-md-1 text-black-50">
                Cantidad
                <input id="cantidad" name="cantidad" value="1" type="number" placeholder="1" class="form-control input-lg" autofocus >
		</div>

		<div class="col-md-1 text-light ">
            aceptar
                <button type="submit" class="btn btn-primary align-bottom"><span class="fa fa-barcode"></span> Aceptar</button>

		</div>
            </form>
		<div class="col-md-3 text text-center text-black-50 h-auto">
            <div class="text text-light">Total</div>
            <h2><strong>Total:</strong> {{suma}}</h2>


		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
             <div class="list-group">
            <a><button type="button" onclick="window.location.href='{% url 'ventas:nueva' %}'" class="list-group-item list-group-item-action active">
             Nueva Venta
            </button></a>
              <button type="button" onclick="window.location.href='{% url 'ventas:nueva' %}'" class="list-group-item list-group-item-action">Nueva Venta</button>
              <button type="button" class="list-group-item list-group-item-action">Tesoreria</button>
              <button type="button" class="list-group-item list-group-item-action">Lista</button>
              <button type="button" class="list-group-item list-group-item-action" disabled>Cerrar Caja</button>
        </div>
		</div>
		<div class="col-md-5 border border-primary rounded">
            <table class="table text-center">
				<thead>
					<tr>
						<th>
							Producto
						</th>
						<th>
							Cantidad
						</th>
						<th>
							Precio
						</th>
					</tr>
				</thead>
                <tbody>
                {% for VentaList in object_list %}
                    <tr>
                        <td>{{VentaList.id_producto}}</td>
                        <td><center>{{VentaList.cantidad}}</center></td>
                        <td><center>{{VentaList.precio_venta_unitario}}</center></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

		<div class="col-md-3 rounded">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Forma de Pago</strong>
                </div>
                <form class="form-row align-items-center" action="formapago" method="POST">{% csrf_token %}
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">Efectivo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" disabled="disabled">
                        <label class="form-check-label" for="exampleRadios2">Tarjeta</label>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                    Documento
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="fp" id="exampleRadios3" value="boleta" checked>
                        <label class="form-check-label" for="exampleRadios3">Boleta</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="fp" id="exampleRadios4" value="factura" disabled>
                        <label class="form-check-label" for="exampleRadios4">Factura</label>
                    </div>
                </div>             
            </div>
            <div class="estilo">&nbsp</div>
            <input type="hidden" value={{suma}} name="suma" />
    			<button type="submit" class="btn btn-primary btn-lg btn-block">Siguiente</button>
        
        </form>
    </div>

		<div class="col-md-1">
		</div>
	</div>
</div>

</body>
</html>