{% extends "base.html" %}
{% load staticfiles %}
{% block tittle %} Detalle Factura{% endblock %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-3">
                    <img src="{% static 'img/pan.png' %}" width='75' height='75' alt ='solomasas'>
                    <img src="{% static 'img/amasado.PNG' %}" width='120' height='100' alt ='amasado'>
				</div>
				<div class="col-md-6">
				</div>
				<div class="col-md-3 text-center">
                    <big><b>RUT: 76231432-8</b></big>
                <P>
                    <thead>
                        <tr>
                            <th scope="col text-center">
                                {% for fac in factura %}
                                    <strong> Factura N°:</strong>{{fac.id}}</p>

                                {% endfor %}
                            </th>
                        </tr>
				</div>
			</div>
            <div class="row">
				<div class="col-md-3">
                    {% for cli in cliente %}
                        <strong>Señor(es)</strong>: {{ cli.nombre }}</p>
                        <strong>Rut</strong>:{{ cli.rut }}</p>
                        <strong>Dirección</strong>:{{ cli.direccion }}</p>
                        <strong>Giro</strong>: Amasanderia </p>
                    {% endfor %}
				</div>
				<div class="col-md-3">

				</div>
				<div class="col-md-3">

				</div>
				<div class="col-md-3 text-center">
                {% for vent in venta3 %}
                <strong>Fecha</strong>: {{vent.fecha|date:'d-M-Y'}}</p>
                {% endfor %}
				</div>
			</div>

            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col-md-2 text-center">Cod</th>
                        <th scope="col-md-2 text-center">Cantidad</th>
                        <th scope="col-md-4 text-center">Detalle</th>
                        <th scope="col-md-2 text-center">P.Unitario</th>
                        <th scope="col-md-2 text-center">P.Total</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                            {% for det in detalle %}
                            <tr>
                                    <th scope="row">{{ det.producto__id }}</th>
                                    <td>{{ det.detalleventa__cantidad }}</td>
                                    <td>{{ det.producto__nombre }}</td>
                                    <td>{{ det.detalleventa__precio_venta }}</td>
                                    <td>{{ det.subto }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                
            </div>


			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
                        {% for sup in supertotal %}
                        <strong>Subtotal:</strong>{{ sup.total }}</p>
                        <strong>IVA:</strong>{{sup.iva}}</p>
                        <strong>Total:</strong>{{sup.supertotal}}</p>
                        {% endfor %}
                    </p>
                  
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}