{% extends "base.html" %}

{% block tittle %} Detalle Boleta {{boleta.id}}{% endblock %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Boleta</th>
        {% for bol in boleta %}
        <th "col">{{bol.id}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for vent in venta2 %}
        <th scope="col">Fecha</th>
        <th "col">{{vent.fecha|date:'d-M-Y'}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for vent in venta2 %}
        <th scope="col">Hora</th>
        <th "col">{{vent.fecha|date:'H:m'}}</th>
        {% endfor %}
      </tr>
    </thead>
      
  

  <tbody>
    
    <tr>
      
      <th scope="row">Cantidad</th>
      <th scope="row">Codigo</th>
      <th scope="row">Descripcion</th>
      <th scope="row">Sub Total</th>
      
    </tr>
    
    {% for det in detalle %}
    <tr>
      <th>{{det.cantidad}}</th>
      <td>{{det.id_producto_id}}</td>
      <td>"Nombre producto"</td>
      <td>{{det.precio_venta}}</td>
      
    </tr>
    {% endfor %}
    <tr>
      
      <th scope="row">Forma de Pago</th>
      {% for vent in venta2 %}
      <td>{{vent.forma_pago}}</td>
      {% endfor %}

    </tr>
  </tbody>
</table>




{% endblock %}
