{% extends "base.html" %}

{% block tittle %} Detalle Boleta {{boleta.id}}{% endblock %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Boleta</th>
        {% for bol in boleta %}
        <th "col">{{bol.id}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for vent in venta2 %}
        <th scope="col">Fecha</th>
        <th "col">{{vent.fecha|date:'d-M-Y'}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for vent in venta2 %}
        <th scope="col">Hora</th>
        <th "col">{{vent.fecha|date:'H:m'}}</th>
        {% endfor %}
      </tr>
    </thead>
      
  

  <tbody>
    
    <tr>
      
      <th scope="row">Cantidad</th>
      <th scope="row">Codigo</th>
      <th scope="row">Descripcion</th>
      <th scope="row">Precio</th>
      <th scope='row'>Subtotal</tn>
      
    </tr>
    
    {% for det in detalle %}
    <tr>
      <th>{{det.detalleventa__cantidad}}</th>
      <td>{{det.producto__id}}</td>
      <td>{{det.producto__nombre}}</td>
      <td>{{det.detalleventa__precio_venta}}</td>
      <td>{{det.suto}} </td>

      
    </tr>
    {% endfor %}

    <tr>      
      <th scope="row">Forma de Pago</th>
      {% for vent in venta2 %}
      <td>{{vent.forma_pago}}</td>
      
      <td>Total: {{vent.total}}</td>
      {% endfor %}
    </tr>




  </tbody>
</table>




{% endblock %}
