{% extends "base.html" %}
{% load static %}

{% block content %}


    <h1>{{proveedor.rut}}</h1>
<div class="row">
<div class="col-md-3"></div>

<div class="col-md-6 text-center">
    {% if mesj2 %}
    {{mesj2}}
    {% elif mesj %}
    {{ mesj}}
        <script type="text/javascript">
                    function Redirect2()
                        {
                            window.history.back();
                        }
                    setTimeout('Redirect2()', 2000);
                </script>

    {{elif}}
</div>

<div class="col-md-3"></div>
</div>

<input type="hidden" id="Url" data-url="{% url 'admin:abastecimiento_proveedor_add' %}" >


<script type="text/javascript">
    function Redirect()
    {
        var url = $("#Url").attr("data-url");


        window.location.href = url;

    }
    setTimeout('Redirect()', 2000);
</script>





{% endif %}
{% endblock %}