{% extends "base.html" %}
{% load static %}
{% block tittle %}
SabroSystem
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm p-3 center-block text-center" style="background-color: #eee;">1 de 2 lorem ipsus</div>
    <div class="col-sm p-3 center-block text-center" style="background-color: rgba(0,0,255,.1)">2 of 2 lorem ipsus</div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-6 center-block text-center" style="background-color: #eee;"> 
    <form>
      <div class="form-row align-items-center">
      <div class="col-2 offset-md-4">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
     </div>
  </form>
  
  
  
  
  
  </div>
  <div class="col-6" style="background-color: rgba(0,0,255,.1)">

      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
















<button type="button" class="btn btn-success">Success</button>
  </div>
  <div class="col-md-5 offset-md-1" style="background-color: rgba(0,0,255,.1)">.col-md-4 .offset-md-4</div>
  <div class="col-md-5 offset-md-0" style="background-color: #eee;">.col-md-4 .offset-md-4</div>
</div>


{% endblock %}                 

