{% extends 'base.html' %}

{% block content %}


    

<body>
  <div class="container">
    <h1>Same height columns in Bootstrap</h1>
    <div class="row row-flex">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-1">
          <h3>First column</h3>
          <p>This one has a bit longer content</p>
          <p>This one has a bit longer content</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-2">
          <h3>Second column</h3>
          <p>Normal content.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-3">
          <h3>Third column</h3>
          <p>Normal content.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-4">
          <h3>Fourth column</h3>
          <p>Normal content.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-5">
          <h3>Fifth column</h3>
          <p>Normal content.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="content colour-6">
          <h3>Sixth column</h3>
          <p>Normal content.</p>
        </div>
      </div>
    </div>
    
    <p class="text-muted">This pen is a part of the <a href="https://bootstrapious.com/p/bootstrap-tips-and-tricks" target="_blank">Bootstrap tips and tricks article</a>.</p>
    
  </div>
</body>


{% endblock %}



    


