{% extends "base.html" %}

{% block tittle %} Nueva venta {% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">

    
    <div class="col-sm p-3 center-block text-center" style="background-color: #eee;"> 
      <form class ="form-horizontal" method="POST" action="boleta/">
        {% csrf_token %} 
            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary btn-lg active">Boleta</button>
      </form>
    </div>



    
    <div class="col-sm p-3 center-block text-center" style="background-color: rgba(0,0,255,.1)">
        <form class ="form-horizontal" method="POST" action="factura/">
          {% csrf_token %}
            
            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-danger btn-lg active">Factura</button>
      </form>
    </div>



  </div>
</div>










  

{% endblock %}   