{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    Nuevo Cliente
                </div>
                <div class="card-body">
                    <form class="form-row" method='POST' action='' >{% csrf_token %}
                        {% for field in form %}
                        <div class="control-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <label class="control-label">{{ field.label }}</label> 
                                </div>
                                <div class="col-md-4">
                                    <div class="controls">{{ field }}
                                </div>
                                <div class="col-md-2"></div>
                        </div>    
                        {% endfor %}
                            <div class="espacio">&nbsp;</div>
                            <button type="submit" class="btn btn-primary mb-2">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>



</div>
<div class="col-md-4 col-md-offset-4">

</div>

{% endblock %}