{% extends base.html %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 offset-1">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8 text-center">


					<div class="row">
						<div class="col-md-1">

                        </div>
						<div class="col-md-6">
                            <div id="espacio">&nbsp</div>
                            <form class="form-row align-items-center " action="/ventas/nueva/add" method="POST">{% csrf_token %}
                            <label class="sr-only" for="textinput">Codigo</label>
                            <input id="textinput" name="textinput" type="text" placeholder="Ingrese Codigo" class="form-control input-lg" required="">
                            <div id="espacio">&nbsp</div>
                            <button type="submit" class="btn btn-primary mb-1 offset-6">Aceptar</button>
                            </form>
						</div>
						<div class="col-md-2">

						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Product
						</th>
						<th>
							Payment Taken
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="table-active">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="table-success">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="table-danger">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>




{% endblock %}

