{% extends "base.html"%}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">

        </div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-6">
                    <div id="espacio">&nbsp</div>
                    <div id="espacio">&nbsp</div>

                            <form class="form-row align-items-center " action="/ventas/nueva/add" method="POST">{% csrf_token %}
                                <label class="sr-only" for="textinput" autofocus>Codigo</label>
                                <input id="textinput" name="textinput" type="text" placeholder="Ingrese Codigo" class="form-control input-lg" required="">


				</div>
				<div class="col-md-4">
                    <div id="espacio">&nbsp</div>
                    <div id="espacio">&nbsp</div>
                    <button type="submit" class="btn btn-primary mb-1 ">Aceptar</button>
                    </form>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>




{% endblock %}