{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
        </div>


		<div class="col-md-8">
            <div class="estilo">
            &nbsp
        </div>
        <div class="estilo">
            &nbsp
        </div>
		    <div class="alert alert-danger text-center" role="alert">
  					{{msj}}

                <script type="text/javascript">
                function Redirect()
                    {

                window.location.href = "{% url 'ventas:ventalist' %}";

                    }
                setTimeout('Redirect()', 1000);
                </script>

            </div>
        </div>
		<div class="col-md-2">
		</div>
	</div>
</div>




{% endblock %}