{% extends "base.html"%}
{% load staticfiles %}
{% block content %}









<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6">
                <div class="form-group">
                      <div class="form-group">
                      <label class="col control-label" for="textinput">RUT</label>
                      <input id="textinput" name="rut" type="text" placeholder="rut" class="form-control input-md">
                <button type="submit" class="btn btn-primary">Aceptar</button>
						</div>
            <input id="textinput" name="rut" type="text" placeholder="rut" class="form-control input-md">
					</div>
          
				</div>
        
				<div class="col-md-5">
        
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

{% endblock %}