{% extends "base.html" %}

{% block tittle %}Boletas{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">venta</th>
      <th scope="col">forma de pago</th>
      <th scope="col">total</th>        
    </tr>
  </thead>
    <tbody>
      {% for boleta in boletas %}
    <tr>
      <th scope="row"><a href="{% url 'ventas:detalle_boleta' boleta.boleta__id %}">{{boleta.boleta__id}}</a></th>
      <td>{{boleta.boleta__id_venta}}</td>
      <td>{{boleta.forma_pago}}</td>
      <td>{{boleta.total}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>




{% endblock %}
